<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<% include homepageHeader %>
		<title>Homepage</title>
	</head>
	<body>
		<% include homepageNav %>

		<div class="jumbotron">
			<h1><i class="fas fa-dove" aria-hidden="true"></i> 미소와 쓴웃음</h1>
			<br />
			<h3>오늘 하루는 어땠나요?</h3>
		</div>

		<div class="card-deck">
			<% posts.forEach(function(post) { %>
			<div class="card">
				<div class="card-img-top">
					<div class="thumbnail">
						<img class="card-img-top" src="<%= post.image %>" alt="Card image cap" />
					</div>
				</div>
				<div class="card-body">
					<!-- _id값 주는 곳 -->
					<a href="/post/<%= post._id %>"><h5 class="card-title"><%= post.title %></h5></a>
					<p class="card-text">
						<%= post.description %>
					</p>
				</div>
				<div class="card-footer">
					Posted by
					<a href="#"><%= post.username %></a>
					on <%= post.createdAt.toDateString() %>
					<span class="icon">
						<i class="far fa-heart"></i>
						<i class="far fa-bookmark"></i>
						<i class="far fa-comments"></i>
					</span>
				</div>
			</div>

			<% }) %>
		</div>
	</body>
</html>
